.signup {
    .Signup-header {
        text-align: center;
        padding: 1%;
        box-shadow: 0px 2px 5px silver;
    }
    .detail-signup {
        display: grid;
        justify-content: center;
        padding: 2rem;
        .Signup-section {
            display: grid;
            grid-template-columns: 20% 60%;
            align-content: center;
            .back {
                font-size: 1.8rem;
                color: blue;
                cursor: pointer;
            }
            .dot {
                height: 0.9rem;
                width: 0.9rem;
                margin-top: 1rem;
                margin-left: 1%;
                border-radius: 50%;
                background-color: #bbb;
                display: inline-block;

                div {
                    width: 4px;
                    height: 4px;
                    position: relative;
                    top: 5px;
                    left: 5px;
                    border-radius: 50%;
                    background-color: white;
                }
            }
            span:first-of-type {
                background-color: #08de6c;
            }
        }
        .my-first-component {
            .input {
                margin-top: 1.4rem;
                width: 40vw;
                border: 1px solid silver;
                box-shadow: 1px 1px 2px grey;
                display: grid;
                grid-template-columns: 93% auto;
                input {
                    border: none;
                }
                .icon1 {
                    background-color: #08de6c;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    height: 100%;
                    color: white;
                }
            }
            .text {
                justify-self: center;
                font-size: 1rem;
                width: 40vw;
            }
            h3 {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            h5 {
                font-size: 1rem;
                margin-top: 1rem;
            }
            h5:first-child {
                color: blue;
            }
            button {
                width: 30%;
                justify-self: center;
                color: white;
                background-color: blue;
                border-radius: 8px;
            }
            .old-account {
                color: blue;
                font-size: 1.4rem;
                text-align: center;
                cursor: pointer;
            }
        }
        .my-fourth-component {
            display: grid;
            justify-self: center;
            justify-content: center;
            .input {
                margin-top: 1.4rem;
                width: 40vw;
                border: 1px solid silver;
                box-shadow: 1px 1px 2px grey;
                display: grid;
                grid-template-columns: 100%;
                input {
                    border: none;
                }
                
            }
            .text {
                justify-self: center;
                font-size: 1rem;
                width: 40vw;
            }
            h3 {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            h5 {
                font-size: 1rem;
                margin-top: 1rem;
            }
            h5:first-child {
                color: blue;
            }
            button {
                justify-self: center;
                margin-top:0.8rem;
                color: grey;
                height:6vh;
                background-color:pink;
                border-radius: 20px;
                margin-left:24%;
                width:50%;
            }
            .old-account {
                color: blue;
                font-size: 1.4rem;
                text-align: center;
                cursor: pointer;
            }
            .institute-text{
                text-align: center;
                color:rgb(238, 152, 54);
                text-decoration: solid;
                font-size:1.4rem;
                cursor: pointer;
            }
            .policy{
                justify-self: center;
                width:80%;
                margin-left:10%;
            }
        }
        .my-third-component {
            display: grid;
            justify-self: center;
            justify-content: center;
            .input {
                margin-top: 1.4rem;
                width: 40vw;
                border: 1px solid silver;
                box-shadow: 1px 1px 2px grey;
                display: grid;
                grid-template-columns: 100%;
                input {
                    border: none;
                }
                
            }
            .text {
                justify-self: center;
                font-size: 1rem;
                width: 40vw;
            }
            h3 {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            h5 {
                font-size: 1rem;
                margin-top: 1rem;
            }
            h5:first-child {
                color: blue;
            }
            .button{
                display: grid;
                width: 100%;
            button {
                justify-self: center;
                margin-top:0.8rem;
                color: grey;
                height:6vh;
                background-color:pink;
                border-radius: 20px;
                width:50%;
            }
        }
            .old-account {
                color: blue;
                font-size: 1.4rem;
                text-align: center;
                cursor:pointer;
            }
            .request{
                color:blue;
                margin-left:0.3rem;
                margin-top:0.3rem;
            }
            .institute-text{
                text-align: center;
                color:rgb(238, 152, 54);
                text-decoration: solid;
                font-size:1.4rem;
                cursor: pointer;
            }
            

        }
        .my-second-component {
            display: grid;
            justify-self: center;
            justify-content: center;
            .input {
                margin-top: 1.4rem;
                width: 40vw;
                border: 1px solid silver;
                box-shadow: 1px 1px 2px grey;
                display: grid;
                grid-template-columns: 100%;
                input {
                    border: none;
                }
                
            }
            .text {
                justify-self: center;
                font-size: 1rem;
                width: 40vw;
            }
            h3 {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            h5 {
                font-size: 1rem;
                margin-top: 1rem;
            }
            h5:first-child {
                color: blue;
            }
            .button{
                display: grid;
                width: 100%;
            button {
                justify-self: center;
                margin-top:0.8rem;
                color: grey;
                height:6vh;
                background-color:pink;
                border-radius: 20px;
                width:50%;
            }
            .policy{
                justify-self: center;
                width:80%;
            }
        }
            .old-account {
                color: blue;
                font-size: 1.4rem;
                text-align: center;
                cursor: pointer;
            }
            .institute-text{
                text-align: center;
                color:rgb(238, 152, 54);
                text-decoration: solid;
                font-size:1.4rem;
                cursor: pointer;
            }
            
        }
    }
}
